---
import "../styles/index.css";
import { Home } from "../components/home";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ecommerce</title>
  </head>
  <body>
    <Home client:load />
  </body>
</html>
