---
// TODO: restringir a admin
import "../../styles/index.css";
import { AdminPage } from "@/components/admin-page";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administração · CupStickers</title>
  </head>
  <body>
    <AdminPage client:load />
  </body>
</html>
