---
// TODO: restringir a admin
import "../../styles/index.css";
import { AdminProductsPage } from "@/components/admin-products-page";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Produtos · Administração · CupStickers</title>
  </head>
  <body>
    <AdminProductsPage client:load />
  </body>
</html>
